:root {
    --pdark: #7c0052;
    --p: #b0197e;
    --plite: #e555ad;
    --ptext: #ffffff;

    --bdark: #babdbe;
    --b: #eceff1;
    --blite: #ffffff;
    --btext: #000000;
    font-family: 'Roboto', sans-serif;
}

#topbar-root {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 48px;
}
.top-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    height: 48px;
    width: 100%;
    background-color: var(--p);
}
.top-bar img {
    position: absolute;
    top: 8px;
    left: 8px;
    display: inline-block;
    width: 32px;
    height: 32px;
}
.top-bar .title {
    position: absolute;
    top: 55%;
    left: 48px;
    transform: translate(0, -50%);
    color: var(--ptext);
    font-size: 20px;
}

#calendar-root {
    position: absolute;
    top: 68px;
    left: 5%;
    display: inline-block;
    height: calc(95vh - 40px);
    width: 90%;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
}

.day .day-name {
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--btext);
    opacity: 0.5;
}
.day .day-number {
    position: absolute;
    left: 10px;
    top: 10px;
    color: var(--btext);
    opacity: 0.5;
}

@media screen and (max-width: 1100px) {
    #calendar-root .day-area .day-table.desktop {
        display: none;
    }
    #calendar-root .day-area .day-table.mobile {
        display: inline-block;
    }
    #calendar-root {
        height: calc((100vh - 48px) - 98px);
    }
    #calendar-root .day-area {
        position: absolute;
        top: -1px;
        left: 0px;
        display: inline-block;
        width: 100%;
        height: calc(100% + 1px);
    }
    #calendar-root .day-names {
        display: none;
    }
    .nav-button {
        position: absolute;
        bottom: -10px;
        display: inline-block;
        width: 40%;
        height: 48px;
        transform: translate(0, -50%);
        background-color: var(--b);
        transition: background-color 0.2s;
        color: var(--btext);
        font-size: 24px;
        user-select: none;
        -moz-user-select: none;
        border-radius: 24px;
        border: none;
        cursor: pointer;
    }
    .nav-button.next {
        right: 5%;
    }
    .nav-button.previous {
        left: 5%;
    }
}
@media screen and (min-width: 1101px) {
    #calendar-root .day-area .day-table.desktop {
        display: inline-block;
    }
    #calendar-root .day-area .day-table.mobile {
        display: none;
    }
    #calendar-root .day-area {
        position: absolute;
        top: 48px;
        left: 0px;
        display: inline-block;
        width: 100%;
        height: calc(100% - 48px);
    }
    #calendar-root .day-names {
        position: absolute;
        top: 0px;
        left: 0px;
        display: inline-block;
        width: 100%;
        height: 48px;
        user-select: none;
        -moz-user-select: none;
    }
    .nav-button {
        position: absolute;
        top: 50%;
        display: inline-block;
        width: 2vw;
        height: 50vh;
        transform: translate(0, -50%);
        background-color: var(--b);
        transition: background-color 0.2s;
        color: var(--btext);
        font-size: 24px;
        user-select: none;
        -moz-user-select: none;
        border-radius: 1vw;
        border: none;
        cursor: pointer;
    }
    .nav-button.next {
        right: 1.5%;
    }
    .nav-button.previous {
        left: 1.5%;
    }
}
#calendar-root .day-names .day-name {
    position: relative;
    display: inline-block;
    width: calc(100% / 7);
    height: 48px;
    background-color: var(--p);
    color: var(--ptext);
    font-size: 18px;
    margin: 0px;
    box-sizing: border-box;
}
#calendar-root .day-names .day-name span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#calendar-root .day-area .day-table.desktop {
    width: calc(100% + 1px);
    height: 100%;
    position: absolute;
    top: 0px;
    left: -1px;
    padding: 0px;
    border-collapse: collapse;
}
#calendar-root .day-area .day-table.desktop tbody {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    border-collapse: collapse;
}
#calendar-root .day-area .day-table.desktop tbody tr {
    display: block;
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
#calendar-root .day-area .day-table.desktop tbody tr td {
    display: inline-block;
    width: calc(100% / 7);
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
    border: 1px solid var(--bdark);
    border-bottom: 0px;
    border-right: 0px;
    position: relative;
}
#calendar-root .day-area .day-table.desktop tbody tr td .day-name {
    display: none;
}

#calendar-root .day-area .day-table.mobile {
    width: calc(100% + 1px);
    height: 100%;
    position: absolute;
    top: 0px;
    left: -1px;
    padding: 0px;
    border-collapse: collapse;
}
#calendar-root .day-area .day-table.mobile tbody {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    border-collapse: collapse;
}
#calendar-root .day-area .day-table.mobile tbody tr {
    display: block;
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 0px;
    margin: 0px;
}
#calendar-root .day-area .day-table.mobile tbody tr td {
    display: inline-block;
    width: 100%;
    height: 160px;
    margin: 0px;
    box-sizing: border-box;
    border: 1px solid var(--bdark);
    border-bottom: 0px;
    border-right: 0px;
    position: relative;
}
#calendar-root .day-area .day-table.mobile tbody tr:first-child td {
    border-top: none;
}
#calendar-root .day-area .day-table.mobile tbody tr td.past {
    display: none;
    height: 0px;
}

.day.today .day-number {
    background-color: var(--p);
    color: var(--ptext);
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    width: 32px;
    height: 32px;
    opacity: 1;
    top: 5px;
    left: 5px;
    -webkit-box-shadow: 0px 0px 3px 0px #a2a2a2a2; 
    box-shadow: 0px 0px 3px 0px #A2A2A2a2;
}
.day .day-number, .day .day-name {
    user-select: none;
    -moz-user-select: none;
}
.day.today .day-number > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.day.buffer {
    background-color: var(--b);
}

.shadow {
    -webkit-box-shadow: 0px 0px 15px 0px #A2A2A2; 
    box-shadow: 0px 0px 15px 0px #A2A2A2;
}
.shadow-small {
    -webkit-box-shadow: 0px 0px 3px 0px #a2a2a2a2; 
    box-shadow: 0px 0px 3px 0px #A2A2A2a2;
}

body {
    overflow: hidden;
}
.nav-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nav-button:hover {
    background-color: var(--bdark);
}

.date-input {
    position: absolute;
    right: 5px;
    top: 5px;
    display: inline-block;
    width: 20%;
    min-width: 225px;
    height: calc(100% - 10px);
}
.date-input select {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 35%;
    height: 100%;
    border-radius: 5px;
    background-color: var(--pdark);
    color: var(--ptext);
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 10px;
    cursor: pointer;
    transition: opacity 0.2s;
}
.date-input input {
    position: absolute;
    top: 0px;
    left: calc(35% + 5px);
    display: inline-block;
    width: calc(65% - 5px);
    height: 100%;
    border-radius: 5px;
    background-color: var(--pdark);
    color: var(--ptext);
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 10px;
    transition: opacity 0.2s;
    text-align: center;
}
.date-input input:focus {
    outline: none;
}
.date-input *:hover, .date-input *:focus {
    opacity: 0.8;
}

.day .day-events {
    position: absolute;
    top: 40px;
    left: 5px;
    display: inline-block;
    width: calc(100% - 10px);
    height: calc(100% - 45px);
}
.day .day-events .event {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 18px;
    border-radius: 9px;
    border: 1px solid var(--bdark);
    font-size: 12px;
    box-sizing: border-box;
    margin: 0px;
    margin-bottom: 1px;
    transition: box-shadow 0.2s;
    cursor: pointer;
}
.day .day-events .event:hover {
    -webkit-box-shadow: 0px 0px 3px 0px #a2a2a2a2; 
    box-shadow: 0px 0px 3px 0px #A2A2A2a2;
}
.day .day-events .event.multi-day-event {
    background-color: var(--p);
    color: var(--ptext);
    border: 1px solid var(--p);
}
.day .day-events .event.all-day-event {
    background-color: var(--p);
    color: var(--ptext);
    border: 1px solid var(--p);
}
.day .day-events .event .event-title {
    position: absolute;
    top: calc(50% + 1px);
    left: 50%;
    white-space: nowrap;
    width: calc(100% - 50px);
    overflow: hidden;
    transform: translate(-50%, -50%);
    user-select: none;
    -moz-user-select: none;
}
.day .day-events .event .event-title .overflow-shroud {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    width: 15px;
    height: 100%;
    background: #00000000;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%);
    z-index: 5;
}
.day .day-events .event.multi-day-event .event-title .overflow-shroud, .day .day-events .event.all-day-event .event-title .overflow-shroud {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, var(--p) 100%);
}
.day .day-events .event .material-icons {
    display: none;
}
.day .day-events .event.multi-day-event:not(.multi-start) .arrow-start {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 1px;
    transform: translate(0, -50%);
    font-size: 16px;
    user-select: none;
    -moz-user-select: none;
}
.day .day-events .event.multi-day-event:not(.multi-end) .arrow-end {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translate(0, -50%);
    font-size: 16px;
    user-select: none;
    -moz-user-select: none;
}
.day .day-events .incomplete-number {
    display: none;
}
.day.incomplete .day-events .incomplete-number {
    display: inline-block;
    width: 100%;
    height: fit-content;
    font-size: 12px;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    font-weight: bold;
    opacity: 0.45;
}
.day .day-events .event:not(.all-day-event):not(.multi-day-event):nth-child(odd) {
    background-color: var(--b);
}
.day .day-events .event:not(.all-day-event):not(.multi-day-event):nth-child(odd) .overflow-shroud {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, var(--b) 100%);
}